@model IEnumerable<WebApp.Controllers.MovieViewModel>

<h1>Movies for @ViewBag.ActorName</h1>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Budget</th>
        <th>Popularity</th>
        <th>Homepage</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Budget</td>
            <td>@movie.Popularity</td>
            <td>
                @if (!string.IsNullOrEmpty(movie.Homepage))
                {
                    <a href="@movie.Homepage" target="_blank">Link</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>


<!-- Nawigacja między stronami -->
@if (ViewBag.TotalPages > 1)
{
<nav aria-label="Page navigation">
    <ul class="pagination">

        <!-- Numery stron -->
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
        if (i == 1 || i == ViewBag.TotalPages || (i >= ViewBag.CurrentPage - 2 && i <= ViewBag.CurrentPage + 2))
        {
        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>
        }
        else if (i == ViewBag.CurrentPage - 3 || i == ViewBag.CurrentPage + 3)
        {
        <li class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        }
        }
        
    </ul>
</nav>
}